@utility btn {
  @apply inline-flex items-center justify-center rounded-full focus:outline-none px-[1.6em] py-[0.8em];
}
@utility btn-lg {
  @apply text-mono-3xs;
}
@utility btn-md {
  @apply text-mono-4xs;
}
@utility btn-green-solid {
  background: linear-gradient(90deg, var(--color-malachite) 0%, var(--color-cyan) 100%);
  background: border-image: linear-gradient(90deg, var(--color-cyan) 0%, var(--color-malachite) 100%) 1;
}
@utility btn-white-solid {
  background: linear-gradient(90deg, var(--color-smoke) 0%, var(--color-white) 100%);
  background: border-image: linear-gradient(90deg, var(--color-white) 0%, var(--color-smoke) 100%) 1;
}
@utility btn-white-outline {
  color: var(--color-wite);
  background: border-image: linear-gradient(90deg, var(--color-white) 0%, var(--color-smoke) 100%) 1;
}