/*
----------- Serif
*/
@utility text-serif-5xl {
  font-family: var(--font-serif);
  font-style: italic;
  font-weight: 400;
  font-size: clamp(4.8125rem, 3.2rem + 5.375vw, 7.5rem); /* 77px → 120px */
  line-height: 1.04;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

@utility text-serif-2xl {
  font-family: var(--font-serif);
  font-style: italic;
  font-weight: 400;
  font-size: clamp(2.75rem, 2.075rem + 2.25vw, 3.875rem); /* 44px → 62px */
  line-height: 1.13;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

@utility text-serif-xl {
  font-family: var(--font-serif);
  font-style: italic;
  font-weight: 400;
  font-size: clamp(2.25rem, 1.8rem + 1.5vw, 3rem); /* 36px → 48px */
  line-height: 1.13;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

@utility text-serif-lg {
  font-family: var(--font-serif);
  font-style: italic;
  font-weight: 400;
  font-size: clamp(1.875rem, 1.5rem + 1.25vw, 2.5rem); /* 30px → 40px */
  line-height: 1.13;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

@utility text-serif-md {
  font-family: var(--font-serif);
  font-style: italic;
  font-weight: 400;
  font-size: clamp(1.625rem, 1.4rem + 0.75vw, 2rem); /* 26px → 32px */
  line-height: 1.09;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

@utility text-serif-sm {
  font-family: var(--font-serif);
  font-style: italic;
  font-weight: 400;
  font-size: clamp(1.375rem, 1.3rem + 0.25vw, 1.5rem); /* 22px → 24px */
  line-height: 1.13;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

/*
----------- Extended
*/
@utility text-extended-3xl {
  font-family: var(--font-extended);
  font-weight: 500;
  font-size: clamp(3.375rem, 2.55rem + 2.75vw, 4.75rem); /* 54px → 76px */
  line-height: 0.97;
  letter-spacing: 0.05em;
}

@utility text-extended-2xl {
  font-family: var(--font-extended);
  font-weight: 600;
  font-size: clamp(2.75rem, 2.075rem + 2.25vw, 3.875rem); /* 44px → 62px */
  line-height: 0.95;
  letter-spacing: 0.05em;
}

@utility text-extended-xl {
  font-family: var(--font-extended);
  font-weight: 600;
  font-size: clamp(2.25rem, 1.8rem + 1.5vw, 3rem); /* 36px → 48px */
  line-height: 1.1;
  letter-spacing: 0.04em;
}

@utility text-extended-lg {
  font-family: var(--font-extended);
  font-weight: 600;
  font-size: clamp(1.875rem, 1.5rem + 1.25vw, 2.5rem); /* 30px → 40px */
  line-height: 1.1;
  letter-spacing: 0.04em;
}

@utility text-extended-md {
  font-family: var(--font-extended);
  font-weight: 600;
  font-size: clamp(1.625rem, 1.4rem + 0.75vw, 2rem); /* 26px → 32px */
  line-height: 1.13;
  letter-spacing: 0.04em;
}

@utility text-extended-sm {
  font-family: var(--font-extended);
  font-weight: 600;
  font-size: clamp(1.375rem, 1.3rem + 0.25vw, 1.5rem); /* 22px → 24px */
  line-height: 1.13;
  letter-spacing: 0.04em;
}

@utility text-extended-2xs {
  font-family: var(--font-extended);
  font-weight: 600;
  font-size: 1rem; /* 16px */
  line-height: 1.31;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

/*
----------- Mono
*/
@utility text-mono-2xs {
  font-family: var(--font-mono);
  font-weight: 500;
  font-size: 1rem; /* 16px */
  line-height: 1.14;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
@utility text-mono-3xs {
  font-family: var(--font-mono);
  font-weight: 500;
  font-size: 0.875rem; /* 14px */
  line-height: 1.14;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

@utility text-mono-4xs {
  font-family: var(--font-mono);
  font-weight: 500;
  font-size: 0.75rem; /* 12px */
  line-height: 1.17;
  letter-spacing: 0.19em;
  text-transform: uppercase;
}

/*
----------- Body
*/
@utility text-body-md {
  font-family: var(--font-body);
  font-weight: 400;
  font-size: clamp(1.625rem, 1.4rem + 0.75vw, 2rem); /* 26px → 32px */
  line-height: 1.25;
}

@utility text-body-sm {
  font-family: var(--font-body);
  font-weight: 400;
  font-size: clamp(1.375rem, 1.3rem + 0.25vw, 1.5rem); /* 22px → 24px */
  line-height: 1.4;
}

@utility text-body-xs {
  font-family: var(--font-body);
  font-weight: 400;
  font-size: clamp(1.125rem, 1.05rem + 0.25vw, 1.25rem); /* 18px → 20px */
  line-height: 1.45;
}

@utility text-body-2xs {
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 1rem; /* 16px */
  line-height: 1.45;
}

@utility text-body-3xs {
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 0.875rem; /* 14px */
  line-height: 1.36;
  letter-spacing: 0.04em;
}

.wysiwyg {
  p,
  ol,
  ul {
    &:not(:last-child) {
      @apply mb-[1em];
    }
  }
  h1,
  h2,
  h3,
  h4 {
    @apply text-smoke text-balance;
    &:not(:first-child) {
      margin-top: 1em;
    }
    &:not(:last-child) {
      margin-bottom: 0.5em;
    }
  }
  h2 {
    @apply text-extended-xl font-light;
  }
  h2 {
    @apply text-extended-lg font-light;
  }
  h3 {
    @apply text-extended-md font-light;
  }
  h4 {
    @apply text-extended-sm font-light;
  }
  a {
    @apply underline;
  }
}
