/* 
----------- White space 
*/
@utility condensed-text-trim {
  &::after {
    content: '';
    display: table;
    margin-top: -0.25em;
  }
}
@utility wide-text-trim {
  &::after {
    content: '';
    display: table;
    margin-top: -0.35em;
  }
}

/* 
----------- Wide
*/

@utility text-wide-xl {
  @apply wide-text-trim;
  font-family: var(--font-wide);
  font-size: clamp(2.625rem, 1.4118rem + 4.0441vw, 4rem); /* 42px, 64px */
  font-weight: 500;
  line-height: 1.094;
  letter-spacing: -0.02em;
}
@utility text-wide-lg {
  @apply wide-text-trim;
  font-family: var(--font-wide);
  font-size: clamp(1.5rem, calc(0.618rem + 2.941vw), 2.5rem); /* 24px, 40px */
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02em;
}
@utility text-wide-md {
  @apply wide-text-trim;
  font-family: var(--font-wide);
  font-size: clamp(1.25rem, calc(1.029rem + 0.735vw), 1.5rem); /* 20px, 24px */
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
@utility text-wide-sm {
  @apply wide-text-trim;
  font-family: var(--font-wide);
  font-size: clamp(1.13rem, calc(1.015rem + 0.368vw), 1.25rem); /* 18px, 20px */
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

/* 
----------- Condensed
*/
@utility text-condensed-md {
  /* @apply condensed-text-trim; */
  font-family: var(--font-condensed);
  font-size: clamp(1.125rem, 1.0147rem + 0.3676vw, 1.25rem); /* 18px, 20px */
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.035em;
}
@utility text-condensed-sm {
  /* @apply condensed-text-trim; */
  font-family: var(--font-condensed);
  font-size: clamp(1rem, 0.8897rem + 0.3676vw, 1.125rem); /* 16px, 18px */
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.035em;
}
@utility text-condensed-xs {
  /* @apply condensed-text-trim; */
  font-family: var(--font-condensed);
  font-size: 0.875rem; /* 14px */
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.035em;
}

/* 
----------- Body
*/
@utility text-body-lg {
  font-family: var(--font-body);
  font-size: clamp(1.125rem, calc(0.794rem + 1.103vw), 1.5rem); /* 18px, 24px */
  line-height: 1.4;
}
@utility text-body-md {
  font-family: var(--font-body);
  font-size: clamp(1rem, calc(0.779rem + 0.735vw), 1.25rem); /* 16px, 20px */
  line-height: 1.45;
}
@utility text-body-sm {
  font-family: var(--font-body);
  font-size: 0.875rem; /* 14px */
  line-height: 1.5;
}
@utility text-body-xs {
  font-family: var(--font-body);
  font-size: 0.75rem; /* 12px */
  line-height: 1.5;
}

.wysiwyg {
  p,
  ol,
  ul {
    @apply text-body-sm text-mist mb-[1em];
  }
  h2,
  h3 {
    @apply mb-[1em];
  }
  h2 {
    @apply text-wide-lg;
  }
  h3 {
    @apply text-wide-md;
  }
  a {
    @apply text-violet underline;
  }
}
