---
import clsx from 'clsx'
interface Props {
  class?: string
  spacing?: 'sm' | 'md'
}

const { class: className, spacing = 'md' } = Astro.props
---

<div class={clsx('border-b-2 border-congo text-gravel', className)}>
  <div
    class={clsx('inline-flex border-b-6 border-congo text-mono-3xs items-center gap-8', {
      'pb-4xs -mb-1xs': spacing === 'sm',
      'pb-3xs -mb-0.5': spacing === 'md',
    })}
  >
    <slot />
  </div>
</div>
