---
import type { Svg } from '@/lib/payload'
import Plus from '@/assets/icons/plus.astro'

interface Props {
  icon: Svg
  class?: string
}

const { icon, class: className } = Astro.props
---

<div class:list={['relative self-start w-32 h-32 shrink-0 border-congo border-2', className]}>
  <div class="absolute inset-0 bg-night flex items-center justify-center">
    <span set:html={icon.code} class="w-full h-full [&_svg]:w-full [&_svg]:h-full" />
  </div>
  <Plus class="absolute -top-[9px] -left-[9px] text-gravel corner-plus [&_path]:stroke-2" />
  <Plus class="absolute -top-[9px] -right-[9px] text-gravel corner-plus [&_path]:stroke-2" />
  <Plus class="absolute -bottom-[9px] -left-[9px] text-gravel corner-plus [&_path]:stroke-2" />
  <Plus class="absolute -bottom-[9px] -right-[9px] text-gravel corner-plus [&_path]:stroke-2" />
</div>
